<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} :: ASHOP system sklepu automatycznego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('/font/iconsmind/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('/font/simple-line-icons/css/simple-line-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/sweetalert.css') }}" />


    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('dore') }}
    {{ encore_entry_link_tags('mousetrap') }}
    {{ encore_entry_link_tags('nouislider') }}
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('scripts') }}
</head>
<body id="app-container" class="menu-default show-spinner">
<div id="ajax_loader" class="ajax_loading" style="display: none;"></div>
{% include('frontend/common/widgets/topbar.html.twig') %}
{% include('frontend/common/widgets/navigation.html.twig') %}
<main>
    <div class="container-fluid">
        {% include('frontend/common/widgets/pageTitle.html.twig') %}
        {% block body %}{% endblock %}
        {% include('frontend/common/widgets/chargeWallet.html.twig') %}
        {% if app.request.get('_route') == 'admin_pm'
            or app.request.get('_route') == 'admin_tariffs'
            or app.request.get('_route') == 'admin_servers'
            or app.request.get('_route') == 'admin_services'
            or app.request.get('_route') == 'admin_prices'
            or app.request.get('_route') == 'admin_usersServices'
            or app.request.get('_route') == 'admin_users' %}
            <div class="modal modal-right" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="modal_add" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% block modal_add %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</main>

<script src="https://dore-jquery.coloredstrategies.com/js/vendor/bootstrap.bundle.min.js"></script> <!-- add this to encore -->
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('mousetrap') }}
{{ encore_entry_script_tags('nouislider') }}
{{ encore_entry_script_tags('dore') }}
{{ encore_entry_script_tags('scripts') }}

<script src="https://dore-jquery.coloredstrategies.com/js/vendor/jquery-3.3.1.min.js"></script>
<script> var pathToUserServices = "{{ path('user_services') }}";</script>
<script src="{{ asset('/js/sweetalert.js') }}"></script>
<script src="{{ asset('/js/ajax.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>