<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} :: ASHOP system sklepu automatycznego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('/font/iconsmind/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('/font/simple-line-icons/css/simple-line-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/sweetalert.css') }}" />


    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('dore') }}
    {{ encore_entry_link_tags('mousetrap') }}
    {{ encore_entry_link_tags('nouislider') }}
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('scripts') }}
</head>
<body id="app-container" class="menu-default show-spinner">
<div id="ajax_loader" class="ajax_loading" style="display: none;"></div>
{% include('frontend/common/widgets/topbar.html.twig') %}
{% include('frontend/common/widgets/navigation.html.twig') %}
<main>
    <div class="container-fluid">
        {% include('frontend/common/widgets/pageTitle.html.twig') %}
        {% block body %}{% endblock %}


        {# change to module - include here #}
        <div class="modal fade modal-right" id="chargeWallet" tabindex="-1" role="dialog"
             aria-labelledby="chargeWallet" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title"><i class="iconsmind-Wallet"></i> Doładowanie portfela</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group">
                            <label><h4>Wybierz metodę płatności:</h4></label>
                            <select id="walletMethods" class="form-control radius-type" onChange="loadPaymentValues(this.options[this.selectedIndex].value)">
                                <option disabled selected> -- Wybierz -- </option>
                            </select>
                        </div>

                        <div id="walletPaymentContent" class="form-group"></div>
                        <div id="walletPaymentDetails" class="form-group"></div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</main>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('mousetrap') }}
{{ encore_entry_script_tags('nouislider') }}
{{ encore_entry_script_tags('dore') }}
{{ encore_entry_script_tags('scripts') }}

<script src="https://dore-jquery.coloredstrategies.com/js/vendor/jquery-3.3.1.min.js"></script>
<script src="https://dore-jquery.coloredstrategies.com/js/vendor/bootstrap.bundle.min.js"></script> <!-- add this to encore -->

<script> var pathToUserServices = "{{ path('user_services') }}";</script>
<script src="{{ asset('/js/sweetalert.js') }}"></script>
<script src="{{ asset('/js/ajax.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>