{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">
            {% for log in pagination %}
                <div class="card flex-row mb-3 active">
                    <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                            <div class="w-5"><span class="badge badge-pill badge-primary mb-1">#{{ log.getId() }}</span></div>
                            <p class="list-item-heading mb-1">
                                {% if log.getAdminName() %}
                                    {{ log.getAdminName().getUsername() }}
                                {% else %}
                                    <span class="label label-danger">SYSTEM</span>
                                {% endif %}
                            </p>
                            <div class="w-sm-50">
                                <span class="badge badge-pill badge-secondary mb-1">{{ log.getAdminIp() }}</span>
                            </div>
                            <p class="mb-1 text-muted text-small w-15 w-sm-50">{{ log.getContent() }}</p>
                            <div class="w-15 w-sm-100">
                                <span class="label label-success">{{ log.getDate()|date("d/m/Y H:i:s") }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- paginate -->
            {{ knp_pagination_render(pagination, 'frontend/common/widgets/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}