{% extends 'frontend/admin/base.html.twig' %}
 
{% block title %}Logi Kupionych usług{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Title -->
        <div class="row heading-bg  bg-blue">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h5 class="txt-light">Logi: Kupione Usługi</h5>
            </div>

        </div>
        <!-- /Title -->
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Logi: Kupione Usługi</h6>
                        </div>
                        <div class="clearfix"></div >
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table display product-overview mb-30" id="support_table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Metoda Płatności</th>
                                            <th>Użytkownik</th>
                                            <th>Serwer</th>
                                            <th>Usługa</th>
                                            <th>Ilość</th>
                                            <th>SteamID</th>
                                            <th>IP</th>
                                            <th>Data</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for log in pagination %}
                                                <tr>
                                                    <td>{{ log.getId() }}</td>
                                                    <td>
                                                        {% if log.getPaymentType() == 1 %}
                                                            <span class="label label-success">Admin</span>
                                                        {% elseif log.getPaymentType() == 2 %}
                                                            <span class="label label-success">SMS</span>
                                                        {% elseif log.getPaymentType() == 3 %}
                                                            <span class="label label-success">PaySafeCard</span>
                                                        {% elseif log.getPaymentType() == 4 %}
                                                            <span class="label label-success">Przelew</span>
                                                        {% elseif log.getPaymentType() == 5 %}
                                                            <span class="label label-success">Portfel</span>
                                                        {% elseif log.getPaymentType() == 6 %}
                                                            <span class="label label-success">Voucher</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if log.getUserId() %}
                                                            {{ log.getUserId().getUsername() }}
                                                        {% else %}
                                                            Brak
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <span class="label label-danger">{{ log.getServerId().getName() }}</span>
                                                    </td>
                                                    <td>
                                                        <span class="label label-success">{{ log.getServiceId().getName() }}</span>
                                                    </td>
                                                    <td>{{ log.getValue() }}</td>
                                                    <td><span class="label label-warning">{{ log.getAuthData() }}</span></td>
                                                    <?php if(CheckAccess('can_view_logs_ip')) { ?>
                                                    <td><span class="label label-danger">{{ log.getUserIp() }}</span></td><?php } ?>
                                                    <td>{{ log.getDate()|date("d/m/Y H:i:s") }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4"><br/><br/>Strona {{ pagination.currentPageNumber }} z {{ (pagination.getTotalItemCount/30)|round(0, 'ceil') }}, {{ pagination.getTotalItemCount }} wyników ogółem.</div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <div class="navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}