<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}!{% endblock %} :: ACP ~ AShop</title>
    <meta name="description" content="AdminControlPanel for AShop"/>
    <meta name="author" content="n.o.x."/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/admin/favicon.ico">
    <link rel="icon" href="/assets/admin/favicon.ico" type="image/x-icon">

    <!-- vector map CSS -->
    <link href="/assets/admin/css/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css"/>

    <!-- Data table CSS -->
    <link href="/assets/admin/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <!-- Font-awesome -->
    <link href="/assets/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Notifications CSS -->
    <link href="/assets/admin/css/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/assets/admin/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<!--Preloader-->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>

<!-- Page wrapper-->
<div class="wrapper">
    <!-- Top Menu Items -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left" href="javascript:void(0);"><i
                    class="fa fa-bars"></i></a>
        <a href="{{ path('admin') }}"><img class="brand-img pull-left" style="max-width: 50px; margin-top: 5px;"
                                           src="/assets/admin/images/logo.png" alt="brand"/></a>
        <ul class="nav navbar-right top-nav pull-right">
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#site_navbar_search">
                    <i class="fa fa-search top-nav-icon"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell top-nav-icon"></i><span
                            class="top-nav-icon-badge">2</span></a>
                <ul class="dropdown-menu alert-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <div class="streamline message-box message-nicescroll-bar">

                            <div class="sl-item">
                                <a href="#" target="_blank" class="inline-block capitalize-font">Subject</a>
                                <span class="inline-block font-12 pull-right">00:00</span>
                                <div class="clearfix"></div>
                                <p> show content right there</p>
                            </div>

                            <hr/>

                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-envelope top-nav-icon"></i><span class="top-nav-icon-badge">1</span></a>
                <ul class="dropdown-menu alert-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <div class="streamline message-box message-nicescroll-bar">
                            <div class="sl-item">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                    <p><span style="color:red; text-shadow: 0px 0px 8px #FF0000;">n.o.x</span></p>
                                </div>
                                <div class="sl-content">
                                    <a href="#" target="_blank" class="inline-block capitalize-font"><b>Pierwsza
                                            wiadomość !</b></a>
                                    <span class="inline-block font-12 pull-right">18:47</span>
                                    <div class="clearfix"></div>
                                    <p>Wyświetla pierwsze 30 znaków..</p>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('admin_settings') }}"><i class="fa fa-cog top-nav-icon"></i></a>
            </li>
            <li>
                <a href="{{ path('homePage') }}"><i class="fa fa-home top-nav-icon"></i></a>
            </li>
            <li>
                <a href="{{ path('logout') }}"><i class="fa fa-power-off top-nav-icon"></i></a>
            </li>
        </ul>
        <div class="collapse navbar-search-overlap" id="site_navbar_search">
            <form method="post">
                <div class="form-group mb-0">
                    <div class="input-search">
                        <div class="input-group">
                            <input type="text" id="overlay_search" name="overlay-search" class="form-control pl-30"
                                   placeholder="Wpisz STEAM_ID lub IP aby wyszukać usługi użytkowników !">
                            <span class="input-group-addon pr-30">
									<a href="javascript:void(0)" class="close-input-overlay"
                                       data-target="#site_navbar_search" data-toggle="collapse" aria-label="Close"
                                       aria-expanded="true"><i class="fa fa-times"></i></a>
								</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
        <ul class="nav navbar-nav side-nav nicescroll-bar">
            <li>
                <a href="{{ path('admin') }}" {% if app.request.pathinfo == '/admin/' %}class="active"{% endif %}>
                    <i class="icon-home mr-10"></i>Panel Kontrolny</a>
            </li>
            <li>
                <a href="{{ path('admin_settings') }}"
                   {% if app.request.pathinfo == '/admin/settings' %}class="active"{% endif %}>
                    <i class="icon-screen-desktop"></i> Ustawienia
                </a>
            </li>
            <li>
                <a href="{{ path('admin_pm') }}"
                   {% if app.request.pathinfo == '/admin/payment_methods' %}class="active"{% endif %}>
                    <i class="icon-screen-desktop"></i> Metody Płatności
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_servers') }}"
                   {% if app.request.pathinfo == '/admin/servers' %}class="active"{% endif %}>
                    <i class="icon-screen-desktop"></i> Serwery
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_services') }}"
                   {% if app.request.pathinfo == '/admin/services' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Usługi
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_vouchers') }}"
                   {% if app.request.pathinfo == '/admin/vouchers' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Kody Promocyjne
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_usersServices') }}"
                   {% if app.request.pathinfo == '/admin/users_services' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Usługi użytkowników
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_stats') }}"
                   {% if app.request.pathinfo == '/admin/stats' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Statystyki
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_prices') }}"
                   {% if app.request.pathinfo == '/admin/prices' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Cennik
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_tariffs') }}"
                   {% if app.request.pathinfo == '/admin/tariffs' %}class="active"{% endif %}>
                    <i class="icon-basic-elaboration-document-search"></i> Taryfy
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_users') }}"
                   {% if app.request.pathinfo == '/admin/users' %}class="active"{% endif %}>
                    <i class="icon-user"></i> Użytkownicy
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_groups') }}"
                   {% if app.request.pathinfo == '/admin/groups' %}class="active"{% endif %}>
                    <i class="icon-user"></i> Grupy
                    <span class="pull-right"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><i
                            class="icon-picture mr-10"></i>Logi <span class="pull-right"><i
                                class="fa fa-fw fa-angle-down"></i></span></a>
                <ul id="dashboard_dr">
                    <li>
                        <a href="{{ path('admin_bslogs') }}"
                           {% if app.request.pathinfo == '/admin/logs/bought_services' %}class="active"{% endif %}>Kupione
                            usługi</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_logs_sms') }}"
                           {% if app.request.pathinfo == '/admin/logs/payments/sms' %}class="active"{% endif %}>Płatności
                            SMS</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_logs_psc') }}"
                           {% if app.request.pathinfo == '/admin/logs/payments/psc' %}class="active"{% endif %}>Płatności
                            PaySafeCard</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_logs_transfer') }}"
                           {% if app.request.pathinfo == '/admin/logs/payments/transfer' %}class="active"{% endif %}>Płatności
                            Przelewem</a>
                    </li>
                    <!--<li>
                        <a href="{{ path('admin_logs_psc') }}"
                           {% if app.request.pathinfo == '/admin/logs/payments/wallet' %}class="active"{% endif %}>Płatności
                            z Portfela</a>
                    </li> @todo -->
                    <li>
                        <a href="{{ path('admin_logs') }}"
                           {% if app.request.pathinfo == '/admin/logs/admin' %}class="active"{% endif %}>Logi
                            Administracyjne</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-wrapper">
        {% block body %}{% endblock %}
        <!-- Footer -->
        <footer class="footer container-fluid pl-30 pr-30">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="footer-link nav navbar-nav">
                        <li class="logo-footer"><a href="#">POMOC</a></li>
                        <li class="logo-footer"><a href="#">WARUNKI UŻYTKOWANIA</a></li>
                        <li class="logo-footer"><a href="#" rel="nofollow"></a></li>
                    </ul>
                </div>
                <div class="col-sm-7 text-right">
                    <p>Skrypt & Kodowanie by <strong><a href="https://nwxstudio.pl/">NWXStudio.pl</a></strong><br/>
                        2019 &copy; AShop</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- JavaScript -->

<!-- jQuery -->
<script src="/assets/admin/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/admin/js/bootstrap.min.js"></script>

<!-- Counter Animation JavaScript -->
<script src="/assets/admin/js/jquery.waypoints.min.js"></script>
<script src="/assets/admin/js/jquery.counterup.min.js"></script>

<!-- Data table JavaScript -->
<script src="/assets/admin/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/js/productorders-data.js"></script>

<!-- Slimscroll JavaScript -->
<script src="/assets/admin/js/jquery.slimscroll.js"></script>

<!-- Fancy Dropdown JS -->
<script src="/assets/admin/js/dropdown-bootstrap-extended.js"></script>

<script src="/assets/admin/js/jquery.easypiechart.min.js"></script>
<script src="/assets/admin/js/skills-counter-data.js"></script>

<!-- ChartJS JavaScript -->
<script src="/assets/admin/js/Chart.min.js"></script>
<script src="/assets/admin/js/jquery.toast.min.js"></script>

<!-- Init JavaScript -->
<script src="/assets/admin/js/init.js"></script>


<!-- Success notifications -->
{% for message in app.flashes('add_success') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'Dodano poprawnie!!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'success',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

{% for message in app.flashes('edit_success') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'Edytowano poprawnie!!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'success',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

{% for message in app.flashes('delete_success') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'Usunięto poprawnie!!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'success',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

<!-- Error notifications -->
{% for message in app.flashes('add_error') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'UPS!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'error',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

{% for message in app.flashes('edit_error') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'UPS!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'error',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

{% for message in app.flashes('delete_error') %}
    <script>
        $(window).load(function () {
            window.setTimeout(function () {
                $.toast({
                    heading: 'UPS!',
                    text: '{{ message }}',
                    position: 'top-right',
                    loaderBg: '#ea65a2',
                    icon: 'error',
                    hideAfter: 6000,
                    stack: 60
                });
            }, 1000);
        });
    </script>
{% endfor %}

{% block javascripts %}{% endblock %}
</body>
</html>
