{% extends 'common/base.html.twig' %}
{% block title %}REJESTRACJA{% endblock %}
{% block bodyclass %}class="background show-spinner"{% endblock %}
{% block body %}
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-12 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">


                        </div>
                        <div class="form-side">
                            <a href="/">
                                <span class="logo-single"></span>
                            </a>

                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="mb-4">REJESTRACJA</h6>
                                    {{ form_start(form) }}
                                        <label class="form-group has-float-label mb-4">
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                            <span>Login<small style="color: #ff0000;">*</small></span>
                                        </label>
                                        <label class="form-group has-float-label mb-4">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                            <span>Email<small style="color: #ff0000;">*</small></span>
                                        </label>

                                        <label class="form-group has-float-label mb-4">
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                            <span>Hasło<small style="color: #ff0000;">*</small></span>
                                        </label>
                                        <label class="form-group has-float-label mb-4">
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                            <span>Powtórz hasło<small style="color: #ff0000;">*</small></span>
                                        </label>
                                        <label class="form-group has-float-label mb-4">
                                            {{ form_widget(form.authData, { 'attr': {'class': 'form-control'} }) }}
                                            <span>Steam ID 32<small style="color: #ff0000;">*</small></span>
                                            <span>Steam ID 32</span>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p style="font-size: 7px; text-align: justify; line-height: 1em; padding-top: 7px;">Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z ustawą o ochronie danych osobowych
                                                    w związku z obsługą zamówienia internetowego. Podanie danych jest dobrowolne, ale niezbędne do przetworzenia zapytania.</p>
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_row(form._token) }}
                                                <button class="btn btn-primary btn-lg btn-shadow" style="width: 100%; padding: .75rem 0;" type="submit">REJESTRUJ</button>
                                            </div>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}