{% extends 'frontend/common/index.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Coins mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['monthly_income']|number_format(2) }} zł </p>
                            <p class="text-small text-white">Miesięczny dochód</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Checkout mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['month_bought_services'] }}</p>
                            <p class="text-small text-white">Zakupione usługi (miesiąc)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="simple-icon-star mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['active_services'] }}</p>
                            <p class="text-small text-white">Aktywne usługi</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Wykres sprzedaży miesięcznej</h5>
                            <div class="dashboard-line-chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="salesChart" width="646" height="283" class="chartjs-render-monitor" style="display: block; width: 646px; height: 283px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Najczęściej kupowane usługi</h5>
                    <div class="dashboard-donut-chart">
                        <canvas id="servicesChart" style="display: block; width: 402px; height: 200px;"></canvas> <!-- polarChart -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ostatnie logi systemowe</h5>
                    <div class="scroll dashboard-logs">
                        <table class="table table-sm table-borderless">
                            <tbody>
                            {% for activity in last_activity %}
                                <tr>
                                    <td><span class="log-indicator border-theme-1 align-middle"></span></td>
                                    <td><span class="font-weight-medium">[{{ activity['admin'] }}] {{ activity['content'] }}</span></td>
                                    <td class="text-right"><span class="text-muted">{{ activity['date']|date("d/m/Y H:i:s") }}</span></td>
                                </tr>
                                {# border-theme-2, border-danger, border-dark #}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Ostatni użytkownik</h5>
                        <img alt="Profile" src="{{ asset('/img/default_photo.png') }}" class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail">
                        <p class="list-item-heading mb-1">{{ users[0]['username'] }}</p>
                        <p class="text-muted text-small">{{ users[0]['authData'] }}</p>
                        <p class="text-muted text-small">{{ users[0]['joinDate']|date("d/m/Y H:i:s") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ostatnie logowania administratorów</h5>

                    <div class="scroll dashboard-list-with-user">
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#"><img src="{{ asset('/img/default_photo.png') }}" alt="Mayra Sibley" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" /></a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">n.o.x</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#"><img src="{{ asset('/img/default_photo.png') }}" alt="Mayra Sibley" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" /></a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">n.o.x</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                            <a href="#"><img src="{{ asset('/img/default_photo.png') }}" alt="Mayra Sibley" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" /></a>
                            <div class="pl-3 pr-2">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">n.o.x</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Ostatnio zakupione usługi</h5>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <table class="data-table responsive nowrap dataTable no-footer dtr-inline"role="grid" style="width: 635px;"><thead>
                            <tbody>

                            {% for pucharse in last_bought %}
                                <tr>
                                    <td><p class="list-item-heading text-center">VIP</p></td>
                                    <td><p class="text-muted text-center">{{ pucharse.getUserId().getUsername() }}</p></td>
                                    <td><p class="text-muted text-center">{{ pucharse.getValue() }} dni</p></td>
                                    <td><p class="text-muted text-center">{{ pucharse.getDate()|date("d/m/Y H:i:s") }}</p></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Coins mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['alltime_income']|number_format(2) }} zł </p>
                            <p class="text-small text-white">Całkowity dochód</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Checkout mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['alltime_bought_services'] }}</p>
                            <p class="text-small text-white">Kupionych usług</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Checked-User mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['users_count']|length }}</p>
                            <p class="text-small text-white">Użytkowników</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between align-items-center text-center">
                    <div>
                        <i class="iconsmind-Cloud-Computer mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ stats['servers'] }}</p>
                            <p class="text-small text-white">Serwerów</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/chart.bundle.min.js') }}"></script>
    <script src="{{ asset('/js/chartjs-plugin-datalabels.js') }}"></script>


    <script>
        $(document).ready(function(){

            if (typeof Chart !== "undefined") {
                Chart.defaults.global.defaultFontFamily = "'Nunito', sans-serif";

                Chart.defaults.PolarWithShadow = Chart.defaults.polarArea;
                Chart.controllers.PolarWithShadow = Chart.controllers.polarArea.extend({
                    draw: function(ease) {
                        Chart.controllers.polarArea.prototype.draw.call(this, ease);
                        let ctx = this.chart.chart.ctx;
                        ctx.save();
                        ctx.shadowColor = "rgba(0,0,0,0.2)";
                        ctx.shadowBlur = 10;
                        ctx.shadowOffsetX = 5;
                        ctx.shadowOffsetY = 10;
                        ctx.responsive = true;
                        Chart.controllers.polarArea.prototype.draw.apply(this, arguments);
                        ctx.restore();
                    }
                });



                /*
                --theme-color-1: #145388;
                --theme-color-2: #2a93d5;
                --theme-color-3: #6c90a1;
                --theme-color-4: #365573;
                --theme-color-5: #47799a;
                --theme-color-6: #8e9599;
                --theme-color-1-10: rgba(20, 83, 136, 0.1);
                --theme-color-2-10: rgba(42, 147, 213, 0.1);
                --theme-color-3-10: rgba(108, 144, 161, 0.1);
                --theme-color-4-10: rgba(54, 85, 115, 0.1);
                --theme-color-5-10: rgba(71, 121, 154, 0.1);
                --theme-color-6-10: rgba(142, 149, 153, 0.1);
                --primary-color: #212121;
                --foreground-color: white;
                --separator-color: #d7d7d7; }*/

                var chartTooltip = {
                    backgroundColor: 'white',
                    titleFontColor: '#212121',
                    borderColor: '#d7d7d7',
                    borderWidth: 0.5,
                    bodyFontColor: '#212121',
                    bodySpacing: 10,
                    xPadding: 15,
                    yPadding: 15,
                    cornerRadius: 0.15,
                    displayColors: false
                };

                if (document.getElementById("servicesChart")) {
                    var polarChart2 = document.getElementById("servicesChart").getContext("2d");
                    var myChart = new Chart(polarChart2, {
                        type: "PolarWithShadow",
                        options: {
                            plugins: {
                                datalabels: {
                                    display: false
                                }
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            scale: {
                                ticks: {
                                    display: false
                                }
                            },
                            legend: {
                                position: "bottom",
                                labels: {
                                    padding: 30,
                                    usePointStyle: true,
                                    fontSize: 12
                                }
                            },
                            tooltips: chartTooltip
                        },
                        data: {
                            datasets: [
                                {
                                    label: "Stock",
                                    borderWidth: 2,
                                    pointBackgroundColor: '#145388',
                                    borderColor: ['#145388', '#2a93d5', '#6c90a1', '#145388', '#2a93d5', '#6c90a1', '#145388', '#2a93d5', '#6c90a1'],
                                    backgroundColor: [
                                        'rgba(20, 83, 136, 0.1)',
                                        'rgba(42, 147, 213, 0.1)',
                                        'rgba(108, 144, 161, 0.1)',
                                        'rgba(20, 83, 136, 0.1)',
                                        'rgba(42, 147, 213, 0.1)',
                                        'rgba(108, 144, 161, 0.1)',
                                        'rgba(20, 83, 136, 0.1)',
                                        'rgba(42, 147, 213, 0.1)',
                                        'rgba(108, 144, 161, 0.1)'
                                    ],
                                    data: [
                                        {% for service in chart_services %}
                                        "{{ service['name']|bs_countEm }}",
                                        {% endfor %}
                                    ]
                                }
                            ],
                            labels: [
                                {% for service in chart_services %}
                                "{{ service['name'] }}",
                                {% endfor %}
                            ]
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}