{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">

            {% for price in pagination %}
                <div class="card flex-row mb-3 active" id="price-{{ price.GetId() }}">
                    <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                            <div class="w-10 w-sm-50">
                                <span class="badge badge-pill badge-primary">#{{ price.getId() }}</span>
                            </div>
                            <div class="w-30 w-sm-50">
                                {% for server in price.getServerId()|split('-') %}
                                    <span class="badge badge-pill badge-outline-primary">{{ server|get_server.getName() }}</span>
                                {% endfor %}
                            </div>
                            <div class="w-15 w-sm-50">
                                <span class="badge badge-pill badge-secondary">
                                    {{ price.getServiceId().getName() }}
                                </span>
                            </div>
                            <div class="w-20 w-sm-50">
                                <span class="badge badge-pill badge-secondary">
                                    {{ price.getTariffId().getPaymentMethodId().getName() }} - {{ price.getTariffId().getBrutto }}
                                    {% if price.getTariffId().getPaymentMethodId().getType() == 1 %}
                                        - {{ price.getTariffId().getSmsNumber() }}
                                    {% endif %}
                                </span>
                            </div>
                            <div class="w-15 w-sm-50">
                                {{ price.getValue() }} {{ price.getServiceId().getSufix() }}
                            </div>
                            <div class="w-15 w-sm-100">
                                <button type="button" data-toggle="modal" data-target="#edit-{{ price.GetId() }}" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                <button type="button" onclick="confirmDelete({{ price.GetId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade modal-right" id="edit-{{ price.GetId() }}" tabindex="-1" role="dialog" aria-labelledby="edit-{{ price.GetId() }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="edit-{{ price.GetId() }}">Edycja ceny</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% set edit_form = form_edit.createView %}
                            {{ form_start(edit_form, { 'method' : 'post', 'action': path('edit_price', { 'price' : price.GetId() })}) }}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Usługa:</label>
                                    {{ form_widget(edit_form.serviceId) }}
                                </div>
                                <div class="form-group">
                                    <label>Serwer:</label>
                                    {{ form_widget(edit_form.serverId) }}
                                </div>
                                <div class="form-group">
                                    <label>Taryfa:</label>
                                    {{ form_widget(edit_form.tariffId) }}
                                </div>
                                <div class="form-group">
                                    <label>Ilość:</label>
                                    {{ form_widget(edit_form.value, {'value' : price.GetValue()}) }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Zapisz</button>
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% include('frontend/common/widgets/pagination.html.twig') %}
        </div>
    </div>
{% endblock %}

{% block modal_add %}
    <div class="modal-header">
        <h5 class="modal-title">Dodaj nową cene</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {{ form_start(form_add) }}
    <div class="modal-body">
        <div class="form-group">
            <label>Usługa:</label>
            {{ form_widget(form_add.serviceId) }}
        </div>
        <div class="form-group">
            <label>Serwer:</label>
            {{ form_widget(form_add.serverId) }}
        </div>
        <div class="form-group">
            <label>Taryfa:</label>
            {{ form_widget(form_add.tariffId) }}
        </div>
        <div class="form-group">
            <label>Ilość:</label>
            {{ form_widget(form_add.value) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
    {{ form_end(form_add) }}
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(id) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Tej operacji nie będzie można cofnąć!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/admin/prices/delete/' + id + '/',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[1]) {
                                swal("Usunięto!", "Poprawnie usunięto cene.", "success");
                                $('#price-' + id).hide();
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", "Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}