{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                        <h5 class="mb-4"><i class="simple-icon-screen-desktop"></i> Ustawienia ogólne</h5>
                        <div class="separator mb-5"></div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Tytuł strony</label>
                                {{ form_row(form.shop_title, {'value' : settings['shop_title']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Adres strony</label>
                                {{ form_row(form.shop_address, {'value' : settings['shop_address']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Adres E-Mail sklepu</label>
                                {{ form_row(form.shop_email, {'value' : settings['shop_email']}) }}
                            </div>
                        </div>
                        <div class="form-row mt-4 mb-5">
                            <div class="form-group col-md-4">
                                <label>Komendy sklepu</label>
                                {{ form_row(form.shop_commands, {'value' : settings['shop_commands']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Czas płatności PaySafeCard (w sekundach)</label>
                                {{ form_row(form.payment_url_livetime, {'value' : settings['payment_url_livetime']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Debug</label>
                                {{ form_row(form.debug, {'value' : settings['debug']}) }}
                            </div>
                        </div>
                        <div class="form-row mt-4 mb-5">
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-4">
                                <label>Grupa w zakładce Kontakt</label>
                                {{ form_row(form.contact_group, {'value' : settings['contact_group']}) }}
                            </div>
                        </div>

                        <h5 class="mb-4 mt-5"><i class="simple-icon-social-steam"></i> Steam Bot</h5>
                        <div class="separator mb-5"></div>
                        <div class="form-row mb-5">
                            <div class="form-group col-md-4">
                                <label>Czy bot ma być włączony?</label>
                                {{ form_row(form.allow_steam_bot_info, {'value' : settings['allow_steam_bot_info']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Login</label>
                                {{ form_row(form.steam_bot_login, {'value' : settings['steam_bot_login']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Hasło</label>
                                {{ form_row(form.steam_bot_password, {'value' : settings['steam_bot_password']}) }}
                            </div>
                        </div>

                        <h5 class="mb-4 mt-5"><i class="simple-icon-chart"></i> Cele statystyk</h5>
                        <div class="separator mb-5"></div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Przychód (zł)</label>
                                {{ form_row(form.stats_target_income, {'value' : settings['stats_target_income']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Sprzedane usługi</label>
                                {{ form_row(form.stats_target_sold_services, {'value' : settings['stats_target_sold_services']}) }}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Wysłane SMS</label>
                                {{ form_row(form.stats_target_send_sms, {'value' : settings['stats_target_send_sms']}) }}
                            </div>
                        </div>

                        <div class="text-center pt-5">
                            <button class="btn btn-primary" type="submit">Zapisz</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}