{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">
            {% if pagination|length %}
                {% for tariff in pagination %}
                    <div class="card flex-row mb-3 active" id="tariff-{{ tariff.GetId() }}">
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <div class="w-15">
                                    <span class="badge badge-pill badge-primary mb-1">#{{ tariff.getId() }}</span>
                                </div>
                                <p class="w-25 w-sm-50 mb-1">{{ tariff.getPaymentMethodId().getName() }}</p>
                                <p class="mb-1 w-20 w-sm-50">
                                    <span class="badge badge-pill badge-secondary mb-1">
                                        {{ tariff.getBrutto() }}
                                    </span>
                                </p>
                                <p class="mb-1 w-20 w-sm-50">
                                    <span class="badge badge-pill badge-secondary mb-1">
                                        {{ tariff.getNetto() }}
                                    </span>
                                </p>
                                <div class="w-15 w-sm-100">
                                    <button type="button" data-toggle="modal" data-target="#edit-{{ tariff.GetId() }}" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                    <button type="button" onclick="confirmDelete({{ tariff.GetId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade modal-right" id="edit-{{ tariff.getId() }}" tabindex="-1" role="dialog" aria-labelledby="edit-{{ tariff.getId() }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edycja taryfy</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                {% set edit_form = form_edit.createView %}
                                {{ form_start(edit_form, { 'method' : 'post', 'action': path('edit_tariff', { 'tariff' : tariff.GetId() })}) }}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Cena (Brutto)</label>
                                        {{ form_row(edit_form.brutto, {'value' : tariff.getBrutto()}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Wartość (Netto)</label>
                                        {{ form_row(edit_form.netto, {'value' : tariff.getNetto()}) }}
                                    </div>
                                    <div class="form-group" {% if tariff.getPaymentMethodId().getType() != 1 %} style="display: none;"{% endif %}>
                                        <label>Numer SMS</label>
                                        {{ form_row(edit_form.smsNumber, {'value' : tariff.getSmsNumber()}) }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="tariff_add" class="btn btn-primary">Zapisz</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                </div>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- paginate -->
                {{ knp_pagination_render(pagination, 'frontend/common/widgets/pagination.html.twig') }}
            {% else %}
                <div class="card flex-row mb-3 active">
                    <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                            <p class="list-item-heading mb-1 w-25">Brak wyników</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% for method in payment_methods %}
        <div class="modal fade modal-right" id="add{{ method.getId() }}" tabindex="-1" role="dialog" aria-labelledby="add{{ method.getId() }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodaj taryfe <b>{{ method.getName() }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    {% set add_form = form_add.createView %}
                    {{ form_start(add_form, { 'method' : 'post', 'action': path('add_tariff', { 'pm' : method.GetId() })}) }}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Cena </label>
                                {{ form_row(add_form.brutto) }}
                            </div>
                            <div class="form-group">
                                <label>Wartość <?php if($row['type'] != 3) echo '(Netto)'?></label>
                                {{ form_row(add_form.netto) }}
                            </div>

                            <div class="form-group" {% if method.getType() != 1 %} style="display: none;" {% endif %}>
                                <label>Numer SMS</label>
                                {{ form_row(add_form.smsNumber) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                            <button type="submit" name="tariff_add" class="btn btn-primary">Dodaj</button>
                        </div>
                    {{ form_end(add_form) }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block modal_add %}
    <div class="modal-header">
        <h5 class="modal-title">Dodaj taryfe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Metoda Płatności:</label>
            <select name="payment_method" class="form-control round-input" onChange="$('#modal_add').modal('hide'); $('.modal-backdrop').remove(); $('#add'+this.options[this.selectedIndex].value).modal('toggle');" required>
                <option selected disabled>-||-</option>
                {% for method in payment_methods %}
                    <option value="{{ method.getId() }}">{{ method.getName() }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(id) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Tej operacji nie będzie można cofnąć!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/admin/tariffs/delete/' + id + '/',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[1]) {
                                swal("Usunięto!", "Poprawnie usunięto taryfę.", "success");
                                $('#tariff-' + id).hide();
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", "Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}