{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">
            {% if search_results %}
                sadasd
            {% else %}
                {% for service in pagination %}
                    <div class="card flex-row mb-3 active" id="service-{{ service.GetId() }}">
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <div class="w-10 w-sm-50">
                                    <span class="badge badge-pill badge-primary">#{{ service.getId() }}</span>
                                </div>
                                <div class="w-20 w-sm-50">{{ service.getAuthData()|getUserName }}</div>
                                <div class="w-10 w-sm-50">
                                    <span class="badge badge-pill badge-secondary">{{ service.getServiceId().getName() }}</span>
                                </div>
                                <div class="w-20 w-sm-50">
                                    <span class="badge badge-pill badge-secondary">{{ service.getServerId().getName() }}</span>
                                </div>
                                <div class="w-15 w-sm-50">{{ service.getAuthData() }}</div>
                                <div class="w-15 w-sm-50">
                                    <div class="progress w-75">
                                        {{ service|get_service_progressbar }}
                                    </div>
                                </div>
                                <div class="w-15 w-sm-50">
                                    {{ service.getExpires()|date("d/m/Y H:i:s") }}
                                </div>
                                <div class="w-15 w-sm-100">
                                    <button type="button" data-toggle="modal" data-target="#edit-{{ service.GetId() }}" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                    <button type="button" onclick="confirmDelete({{ service.GetId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade modal-right" id="edit-{{ service.GetId() }}" tabindex="-1" role="dialog" aria-labelledby="edit-{{ service.GetId() }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="edit-{{ service.GetId() }}">Edycja usługi gracza</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% set edit_form = form_edit.createView %}
                                {{ form_start(edit_form, { 'method' : 'post', 'action': path('edit_userservice', { 'service' : service.GetId() })}) }}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>#ID</label>
                                        <input type="text" name="id" disabled value="{{ service.getId() }}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Identyfikator (SteamID/IP)</label>
                                        {{ form_widget(edit_form.authData, {'value' : service.getAuthData()}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Usługa:</label>
                                        {{ form_widget(edit_form.service, {'data' : service.getServiceId()}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Wygasa:</label>
                                        {{ form_widget(edit_form.value, {'value' : service.getExpires()|date("d/m/Y H:i:s")}) }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Zapisz</button>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
                                </div>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- paginate -->
                {{ knp_pagination_render(pagination, 'frontend/common/widgets/pagination.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modal_add %}
    <div class="modal-header">
        <h5 class="modal-title">Nadaj usługę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {{ form_start(form_add) }}
    <div class="modal-body">
        <div class="form-group">
            <label>Usługa:</label>
            {{ form_widget(form_add.service) }}
        </div>
        <div class="form-group">
            <label>SteamID</label>
            {{ form_widget(form_add.authData) }}
        </div>
        <div class="form-group">
            <label>Serwer:</label>
            {{ form_widget(form_add.server) }}
        </div>
        <div class="form-group">
            <label>Wartość:</label>
            {{ form_widget(form_add.value) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
    {{ form_end(form_add) }}
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(id) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Tej operacji nie będzie można cofnąć!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/admin/users_services/delete/' + id + '/',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[1]) {
                                swal("Usunięto!", "Poprawnie usunięto usługę gracza.", "success");
                                $('#service-' + id).hide();
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", "Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}