{% extends 'frontend/admin/base.html.twig' %}
 
{% block title %}Użytkownicy{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- Title -->
        <div class="row heading-bg  bg-blue">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-light">Użytkownicy</h5>
            </div>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Użytkownicy</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>W tym miejscu możesz zarządzać użytkownikami w sklepie</p>
                                </div>
                                <div class="col-md-2 col-md-offset-2">
                                    <button type="button" data-toggle="modal" data-target="#add" class="btn btn-success">DODAJ UŻYTKOWNIKA</button>
                                    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add1">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="add1">Dodaj użytkownika</h4>
                                                </div>

                                                {{ form_start(form_add) }}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Login:</label>
                                                            {{ form_widget(form_add.username) }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email:</label>
                                                            {{ form_widget(form_add.email) }}
                                                        </div>
                                                        <div class="form-group {% if form_errors(form_add.plainPassword.first) %}has-error{% endif %}">
                                                            <label class="control-label mb-10">Hasło:</label>
                                                            {{ form_widget(form_add.plainPassword.first) }}
                                                            {% if form_errors(form_add.plainPassword.first) %}
                                                                <span class="help-block">Hasła muszą być identyczne!</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group {% if form_errors(form_add.plainPassword.first) %}has-error{% endif %}">
                                                            <label class="control-label mb-10">Powtórz Hasło:</label>
                                                            {{ form_widget(form_add.plainPassword.second) }}
                                                            {% if form_errors(form_add.plainPassword.first) %}
                                                                <span class="help-block">Hasła muszą być identyczne!</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Grupa</label>
                                                            {{ form_widget(form_add.groupId) }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>SteamID:</label>
                                                            {{ form_widget(form_add.authData) }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                                    </div>
                                                {{ form_end(form_add) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table display product-overview mb-30" id="support_table">
                                        <thead>
                                            <tr>
                                                <th>NICK</th>
                                                <th>GRUPA</th>
                                                <th>STEAM ID</th>
                                                <th>AKCJE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in pagination %}
                                                <tr>
                                                    <td>{{ user.getUsername() }}</td>
                                                    <td>
                                                        <span style="{{ user.getGroupId().getStyle() }}">{{ user.getGroupId().getName() }}</span>
                                                    </td>
                                                    <td>{{ user.getAuthData() }}</td>
                                                    <td><a href="#" class="text-inverse" data-toggle="modal" data-target="#money-{{ user.getUsername() }}"><i class="fa fa-usd"></i></a>
                                                        <a href="#" data-toggle="modal" data-target="#edit-{{ user.getUsername() }}" class=""><i class="fa fa-check"></i></a>
                                                        <a href="#" class="text-inverse" data-toggle="modal" data-target="#delete-{{ user.getUsername() }}"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>

                                                <!-- Modal -->
                                                <div class="modal fade" id="money-{{ user.getUsername() }}" tabindex="-1" role="dialog" aria-labelledby="editlabel{{ user.getUsername() }}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="editlabel{{ user.getUsername() }}">Edytuj portfel użytkownika <b>{{ user.getUsername() }}</b></h4>
                                                            </div>
                                                            {% set wallet_from = form_wallet.createView %}
                                                            {{ form_start(wallet_from, { 'method' : 'post', 'action': path('edit_wallet', { 'username' :  user.getUsername() })}) }}
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label>Portfel:</label>
                                                                        {{ form_widget(wallet_from.value, {'value' : user.getWallet()}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                                    <button type="submit"  class="btn btn-primary">Edytuj</button>
                                                                </div>
                                                            {{ form_end(wallet_from) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="delete-{{ user.getUsername() }}" tabindex="-1" role="dialog" aria-labelledby="deletelabel{{ user.getUsername() }}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="deletelabel{{ user.getUsername() }}">Usuń użytkownika <b>{{ user.getUsername() }}</b></h4>
                                                            </div>
                                                            <form action="" method="post">
                                                                <div class="modal-body">
                                                                    {% if user.getUsername() == app.user.username %}
                                                                        <div class="alert alert-danger alert-dismissable alert-style-1">
                                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                                            <i class="ti-na"></i>Nie możesz usunąć własnego konta !
                                                                        </div>
                                                                    {% else %}
                                                                        Czy jesteś pewny, że chcesz usunąć użytkownika <b>{{ user.getUsername() }}</b> ?
                                                                    {% endif %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    {% if user.getUsername() == app.user.username %}
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                                    {% else %}
                                                                        <a class="btn btn-primary" href="{{ path('delete_user', {'username': user.getUsername()}) }}" role="button">Usuń !</a>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                                    {% endif %}
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-4"><br/><br/>Strona {{ pagination.currentPageNumber }} z {{ (pagination.getTotalItemCount/30)|round(0, 'ceil') }}, {{ pagination.getTotalItemCount }} wyników ogółem.</div>
                            <div class="col col-xs-8">
                                <ul class="pagination hidden-xs pull-right">
                                    <div class="navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}