{% extends 'frontend/common/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">

            {% for service in pagination %}
                <div class="card flex-row mb-3 active" id="service-{{ service.GetId() }}">
                    <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                            <div class="w-5"></div>
                            <p class="list-item-heading mb-1 w-25">{{ service.GetName() }}</p>
                            <div class="w-15 w-sm-50">
                                {% if service.GetType() == 1 %}
                                    <span class="badge badge-pill badge-primary">Flagi</span>
                                {% elseif service.GetType() == 2 %}
                                    <span class="badge badge-pill badge-primary">MySQL</span>
                                {% elseif service.GetType() == 3 %}
                                    <span class="badge badge-pill badge-primary">Zapytanie Minecraft</span>
                                {% elseif service.GetType() == 4 %}
                                    <span class="badge badge-pill badge-primary">Inne</span>
                                {% endif %}
                            </div>
                            <p class="mb-1 text-muted text-small w-15 w-sm-50">{{ service.getServerDescription() }}</p>
                            <div class="w-15 w-sm-100">
                                <button type="button" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                <button type="button" onclick="confirmDelete({{ service.GetId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <!--<nav class="mt-4 mb-3">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item ">
                        <a class="page-link first" href="#">
                            <i class="simple-icon-control-start"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link prev" href="#">
                            <i class="simple-icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link next" href="#" aria-label="Next">
                            <i class="simple-icon-arrow-right"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link last" href="#">
                            <i class="simple-icon-control-end"></i>
                        </a>
                    </li>
                </ul>
            </nav>-->
        </div>
    </div>
{% endblock %}

{% block modal_add %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj nową uslugę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {{ form_start(form_add) }}
    <div class="modal-body">
        <div class="form-group">
            <label>NAZWA:</label>
            {{ form_widget(form_add.name) }}
        </div>
        <div class="form-group">
            <label>
                OPIS (Strona)<br/>
                <span class="help-block">✔ HTML Enabled</span>
            </label>
            {{ form_widget(form_add.webDescription) }}
        </div>
        <div class="form-group">
            <label>
                OPIS (Serwer)<br/>
                <span class="help-block">✔ Menu Item</span>
            </label>
            {{ form_widget(form_add.serverDescription) }}
        </div>
        <div class="form-group">
            <label>Obrazek:</label>
            {{ form_widget(form_add.imageUrl) }}
        </div>
        <div class="form-group">
            <label>Sufix:</label>
            {{ form_widget(form_add.sufix, {'value' : 'dni' }) }}
        </div>
        <div class="form-group">
            <label>Typ:</label>
            {{ form_widget(form_add.type) }}
        </div>

        <div class="form-group">
            <label>Kolejność:</label>
            {{ form_widget(form_add.orderNumber, {'value' : pagination.getTotalItemCount+1 }) }}
        </div>
        <div class="form-group">
            <label>Skadnia zapytania (flagi/api/minecraft)</label>
            {{ form_widget(form_add.flags) }}
            <span class="help-block">
                <a href="#" target="_blank">Dostępne flagi</a> | <a href="#" target="_blank">Dokumentacja API</a><br/>
                <a href="#" target="_blank">Składnia zapytania Minecraft</a>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anulu</button>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
    {{ form_end(form_add) }}
{% endblock %}

{% block javascripts %}
        <script>
        function confirmDelete(service) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Tej operacji nie będzie można cofnąć!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/admin/services/delete/' + service + '/',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[1]){
                                swal("Usunięto!", "Poprawnie usunięto usługę " + data[0] + ".", "success");
                                $('#service-' + service).hide();
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", "Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}