{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
               aria-controls="first" aria-selected="true">Opis usługi</a>
        </li>

        {% if avaibleServers|length > 0 %}
            <li class="nav-item">
                <a class="nav-link " id="second-tab" data-toggle="tab" href="#second" role="tab"
                   aria-controls="second" aria-selected="false">Kup Teraz!</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
            <div class="row">
                <div class="col-lg-12 col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="text-muted text-small mb-2">Opis:</p>
                            <p class="mb-3">
                                {{ service.getWebDescription() }}
                            </p>

                            <br/>
                            <br/>
                            {% if avaibleServers|length > 0 %}
                                <p class="text-muted text-small mb-2">Dostępny na serwerach:</p>
                                <p class="mb-3">
                                    {% for server in avaibleServers %}
                                        <span class="badge badge-pill badge-outline-theme-2 mb-1">{{ server.GetName() }}</span>
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p class="text-muted text-small mb-2">Usługa aktualnie niedostępna.</p>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between align-items-center text-center">
                            <div>
                                <i class="simple-icon-star mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">Kupiono {{ bought }} razy!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between align-items-center text-center">
                            <div>
                                <i class="iconsmind-Dollar mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">{% if bestPrice != null %}{{ bestPrice }} zł{% else %}-{% endif %}</p>
                                    <p class="text-small text-white">Najniższa cena</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between align-items-center text-center">
                            <div>
                                <i class="iconsmind-Cloud-Computer mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">{{ avaibleServers|length }} serwerów</p>
                                    <p class="text-small text-white">Na których dostępna jest usługa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between align-items-center text-center">
                            <div>
                                <i class="iconsmind-Checked-User mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">{{ last_buyer }}</p>
                                    <p class="text-small text-white">Ostatni kupujący</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if avaibleServers|length > 0 %}
            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">1. Wybierz serwer</h5>
                    </div>
                </div>
                <div class="row">
                    {% for server in avaibleServers %}
                        <div class="col-lg-3">
                            <div id="server_{{ server.GetName() }}" class="card mb-4 progress-banner" style="border: none">
                                <div class="card-body justify-content-between align-items-center text-center">
                                    <a onclick="activateServer('server_{{ server.GetName() }}', '{{ service.GetName() }}')">
                                        <div>
                                            <i class="iconsmind-Cloud-Computer mr-2 text-white align-text-bottom d-inline-block"></i>
                                            <div>
                                                <p class="lead text-white">{{ server.GetName() }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="collapse" id="collapsePaymentMethod" style="">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">2. Wybierz metode płatności </h5>
                            <div id="server_name" style="visibility: hidden"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3" id="sms_type"> </div>
                        <div class="col-lg-3" id="psc_type"> </div>
                        <div class="col-lg-3" id="transfer_type"> </div>
                        <div class="col-lg-3" id="wallet_type"> </div>
                    </div>
                </div>

                <div class="collapse" id="collapseValueSelection">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">3. Wybierz wartość</h5>
                        </div>
                    </div>
                    <div class="row" id="p_values"> </div>
                </div>

                <div class="modal fade modal-right" id="payment_info" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalRight" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h5 class="modal-title"><i class="iconsmind-Checkout"></i> Kup teraz</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <div id="payment_details"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}