{% extends 'frontend/common/index.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if users|length > 0 %}
        <h5 class="mb-4">Administracja sklepu</h5>
        <div class="row justify-content-center">
            {% for user in users %}
                {% if user['username'] != "SYSTEM" %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card d-flex flex-row mb-4">
                            <a class="d-flex" href="#"><img alt="Profile" class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center" src="{{ user['authData']|getSteamAvatar }}"></a>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="#">
                                            <p class="list-item-heading mb-1 truncate">{{ user['username'] }}</p>
                                        </a>
                                        <p class="mb-2 text-muted text-small"><span class="color:red; text-shadow: 0px 0px 8px #FF0000;">{{ user['name'] }}</span></p>
                                        <div class="social-icons">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item">
                                                    <a href="https://steamcommunity.com/profiles/{{ user['authData']|toCommunityId }}/" target="_blank"><i class="simple-icon-social-steam"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="mailto:{{ user['email'] }}"><i class="simple-icon-envelope"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <h5 class="mb-4">Wyślij nam wiadomość</h5>
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                {{ form_start(form_contact) }}
                    <div class="tooltip-label-right">
                        <div class="error-l-100 position-relative form-group">
                            <label>Email</label>
                            {{ form_widget(form_contact.email) }}
                        </div>
                    </div>
                    <div class="tooltip-center-bottom position-relative form-group">
                        <label>Wiadomość</label>
                        {{ form_widget(form_contact.message) }}
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="text-center btn btn-primary">Wyślij</button>
                    </div>
                {{ form_end(form_contact) }}
            </div>
        </div>
    </div>
{% endblock %}