<div class="sidebar">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li {% if app.request.pathinfo == '/' or app.request.get('_route') == 'faq' or app.request.get('_route') == 'terms' or app.request.get('_route') == 'contact' %}class="active"{% endif %}>
                    <a href="#dashboard">
                        <i class="iconsmind-Shop-4"></i>
                        <span>Sklep</span>
                    </a>
                </li>
                <li {% if app.request.get('_route') == 'service_info' %}class="active"{% endif %}>
                    <a href="#services">
                        <i class="iconsmind-Checkout"></i> Usługi
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li {% if app.request.get('_route') == 'user_services' or app.request.get('_route') == 'charge_wallet' %}class="active"{% endif %}>
                        <a href="{{ path('user_services') }}">
                            <i class="iconsmind-Coins"></i> Twoje Usługi
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#servers">
                        <i class="iconsmind-Cloud-Computer"></i> Serwery
                    </a>
                </li>
                <li {% if app.request.get('_route') == 'voucher' %}class="active"{% endif %}>
                    <a href="#vouchers">
                        <i class="iconsmind-Billing"></i> Vouchery
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li {% if app.request.get('_route') == 'admin'
                            or app.request.get('_route') == 'admin_settings'
                            or app.request.get('_route') == 'admin_pm'
                            or app.request.get('_route') == 'admin_tariffs'
                            or app.request.get('_route') == 'admin_servers'
                            or app.request.get('_route') == 'admin_services'
                            or app.request.get('_route') == 'admin_prices'
                            or app.request.get('_route') == 'admin_vouchers'
                            or app.request.get('_route') == 'admin_usersServices'
                            or app.request.get('_route') == 'admin_stats'
                            or app.request.get('_route') == 'admin_users'
                            or app.request.get('_route') == 'admin_logs'
                            or app.request.get('_route') == 'admin_bslogs'
                            or app.request.get('_route') == 'admin_logs_sms'
                            or app.request.get('_route') == 'admin_logs_psc'
                            or app.request.get('_route') == 'admin_logs_transfer'
                        %}class="active"{% endif %}>
                        <a href="{% if 'admin' in app.request.requestUri %}#acp{% else %}{{ path('admin') }}{% endif %}">
                        <i class="iconsmind-Gear"></i> Panel Admina
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="iconsmind-Plug-In"></i> Wyloguj się
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll" style="top: 10px;">
            <ul class="list-unstyled" data-link="dashboard">
                <li>
                    <a href="{{ path('homePage') }}">
                        <i class="simple-icon-home"></i> Strona główna
                    </a>
                </li>
                <li>
                    <a href="{{ path('terms') }}">
                        <i class="simple-icon-docs"></i> Regulamin
                    </a>
                </li>
                <li>
                    <a href="{{ path('faq') }}">
                        <i class="simple-icon-question"></i>F.A.Q.
                    </a>
                </li>
                <li>
                    <a href="{{ path('contact') }}">
                        <i class="simple-icon-phone"></i> Kontakt
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="simple-icon-social-steam"></i> Jak sprawdzić SteamID?
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled" data-link="services">
                {% if services|length > 0 %}
                    {% for service in services %}
                        <li>
                            <a href="{{ path('service_info', {'service': service.GetName()}) }}">
                                <i class="simple-icon-star"></i> {{ service.GetName() }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <i class="simple-icon-close"></i> Brak
                    </li>
                {% endif %}
            </ul>
            <ul class="list-unstyled" data-link="servers">
                {% if servers|length > 0 %}
                    {% for server in servers %}
                        <li>
                            <a href="">
                                <i class="iconsmind-Cloud-Computer"></i> {{ server.GetName() }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <i class="simple-icon-close"></i> Brak
                    </li>
                {% endif %}
            </ul>
            <ul class="list-unstyled" data-link="vouchers">
                <li>
                    <a href="#">
                        <i class="simple-icon-info"></i> Jak zdobyć voucher?
                    </a>
                </li>
                <li>
                    <a href="{{ path('voucher') }}">
                        <i class="simple-icon-wallet"></i> Zrealizuj kod
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="acp">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="simple-icon-screen-desktop"></i> Panel Kontrolny
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_settings') }}">
                        <i class="simple-icon-settings"></i> Ustawienia
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_pm') }}">
                        <i class="simple-icon-wallet"></i> Metody platnosci
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_tariffs') }}">
                        <i class="iconsmind-Coins-3"></i> Taryfy
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_servers') }}">
                        <i class="iconsmind-Cloud-Computer"></i> Serwery
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_services') }}">
                        <i class="iconsmind-Checkout"></i> Usługi
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_prices') }}">
                        <i class="iconsmind-Dollar"></i> Cennik
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_vouchers') }}">
                        <i class="iconsmind-Billing"></i> Vouchery
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_usersServices') }}">
                        <i class="iconsmind-Coins"></i> Usługi użytkowników
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_stats') }}">
                        <i class="simple-icon-chart"></i> Statystyki
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_users') }}">
                        <i class="simple-icon-user"></i> Użytkownicy
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="simple-icon-people"></i> Grupy
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_logs') }}">
                        <i class="simple-icon-lock"></i> Logi Administracyjne
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_bslogs') }}">
                        <i class="simple-icon-lock"></i> Logi Kupionych Usług
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_logs_sms') }}">
                        <i class="simple-icon-lock"></i> Logi Płatności SMS
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_logs_transfer') }}">
                        <i class="simple-icon-lock"></i> Logi Płatności Przelewem
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_logs_psc') }}">
                        <i class="simple-icon-lock"></i> Logi Płatności PaySafeCard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>